{% extends "base.html" %} 

{% block content %}

{% load crispy_forms_tags %}

 <!-- Breadcrumb Section Begin -->
 <div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text">
                      <h2>Our Rooms</h2>
                    <div class="bt">
                        <a href="#">Home > </a><span><a href="{% url 'room_list' %}"> Rooms</a></span>
                    </div>
                 </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Section End -->

<!-- Room Details Section Begin -->
<section class="room-details-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="room-details-item">
                    <img src=" {{ room_details.featured_image.url }}" alt="room image">
                    <div class="rd-text">
                        <div class="rd-title">
                            <h3> {{room_details.title}}</h3>
                            <div class="rdt-right">
                                <div class="rating">
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star-half_alt"></i>
                                </div>
                                <a href="#">Booking Now</a>
                            </div>
                        </div>
                        <h3>  £ {{room_details.price_per_night}}/<span>pernight</span>
                        </h3>
                             <h6 class="r-o">Size:
                            {{room_details.room_size}}
                                </h6>
                                  <h6 class="r-o">Capacity:
                                    {{room_details.capacity}} <span>Persons</span></h6>
                                
                                    <table>
                                        <tbody>
                                         <td>
                                            <tr>
                                            <tr>
                                                <td class="r-o">Services:</td>
                                                <td> <span>Wifi,</span> <span>Television,</span> <span>Mini-bar,</span> 
                                                <span>Kettle,</span> <span>Safe,</span> <span>Room service</span></td>
                                            </tr>
                
                                            </tr>
                                         </td>
                                        </tbody>
                                    </table>  
                                    <div><h6>description</h6></div>
                                 </div>
                                </div>
                    
                 {% if user.is_authenticated %}
                 <div class="review-add">
                    <h4>Add Review</h4>
                    <!-- <p>Posting as: {{ user.username }}</p> -->
                    <form method="post" style="margin-top: 1.3em;" class="ra-form">
                        {{ review_form | crispy }}
                        {% csrf_token %}                       
                        <div class="row">
                            <!-- <div class="col-lg-6">
                                <input type="text" placeholder="Name*">
                            </div>
                            <div class="col-lg-6">
                                <input type="text" placeholder="Email*">
                            </div> -->
                            <div class="col-lg-12">
                                <div>
                                    <h5>You Rating:</h5>
                                    <div class="rating">
                                        <i class="icon_star"></i>
                                        <i class="icon_star"></i>
                                        <i class="icon_star"></i>
                                        <i class="icon_star"></i>
                                        <i class="icon_star-half_alt"></i>
                                    </div>
                                </div>
                                <!-- <textarea placeholder="Your Review"></textarea> -->
                                <button type="submit" class="btn btn-signup btn-lg">Submit</button>
                            </div>
                        </div>
                    </form>
                    {% endif %}
                </div>
          
            <div class="col-lg-4">
                <div class="room-booking">
                    <h3>Your Reservation</h3>
                    <form action="#" method="post">
                        {% csrf_token %}
                        <div class="check-date">
                            <label for="date-in">{{booking.checking}} Check In:</label>
                            <!-- <label for="date-in">Check In:</label> -->
                            <input type="text" class="date-input" id="date-in">
                            <i class="icon_calendar"></i>
                        </div>
                        <div class="check-date">
                            <label for="date-out">Check Out:</label>
                            <input type="text" class="date-input" id="date-out">
                            <i class="icon_calendar"></i>
                        </div>
                        <div class="select-option">
                            <label for="guest">Guests:</label>
                            <select id="guest">
                                <option value="">3 Adults</option>
                            </select>
                        </div>
                        <div class="select-option">
                            <label for="room">Room:</label>
                            <select id="room">
                                <option value="">1 Room</option>
                            </select>
                        </div>
                        <button type="submit">Check Availability</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}


